* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #e9e6ea;
}


body {
    background: #282222;
    font-family: inter_semi_bold, fallback-inter_semi_bold, Arial, sans-serif;
}

:root {
    --primary-color: #2874f0;
    --White: #fff;
    --bs-gray: #6c757d;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

li a {
    text-decoration: none;
    width: 50px;
    margin: 20px;
    font-size: 17px;
    color: #fff;
    font-weight: 700;
}

img {
    width: 100%;
}

.myDark {
    background: #000;
    color: #fff;
}

hr {
    margin: 1rem 0;
    color: #fff;
    border: 0;
    border-top: solid;
    opacity: 0.7;
}


/* Section 2 */
.showcase {
    background: var(--White);
    margin: auto;
    overflow-x: auto;
}

.showcase-top {
    display: flex;
    margin: auto;
    margin-top: 7px;
    margin-left: 37px;
}

.showcase-top img {
    width: 4em;
}

.showcase-top p {
    font-weight: 600;
}

.con {
    margin: 10px 30px;
    cursor: pointer;
}

.con:hover {
    color: var(--primary-color);
}

.img img {
    width: 100%;
    cursor: pointer;
}

.top-img img {
    margin-bottom: 14px;
    border-radius: 10px;
}